<!-- src/app/components/pqr-list/pqr-list.component.html -->
<div class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-lg mt-10">
    <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Lista de PQR</h2>
    <ul>
      <li *ngFor="let pqr of pqrList" class="border-b py-4 hover:bg-gray-100 transition duration-200">
        <div class="flex justify-between">
          <div>
            <strong class="text-lg">{{ pqr.tipo }}</strong>
            <p class="text-gray-600">{{ pqr.descripcion }}</p>
          </div>
          <span class="text-gray-500 text-sm">{{ pqr.fecha | date:'short' }}</span>
        </div>
      </li>
    </ul>
    <div *ngIf="pqrList.length === 0" class="text-center text-gray-500 mt-4">No hay PQR enviadas.</div>
  </div>